.comment {
  position: relative;
  width: 600px;
  height: 140px;
  border: 1px solid #000;
  background-color: #fff;
  text-align: left;
  margin: auto;
}
.comment:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 25%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.comment:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 25%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.img-pos{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.img-link{
  position: relative;
  width: 600px;
  height: 200px;
  margin: auto;
}

.form-link{
  position: relative;
  width: 600px;
  height: 35px;
  margin: auto;
}

.forms{
  position: relative;
  width: 600px;
  height: 100px;
  margin: auto;
}

.tu_button {
  position: relative;
  width: 600px;
  margin: auto;
}
