<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.console.js" th:src="@{/js/jquery.console.js}"></script>
<script type="text/javascript" src="../static/js/console.js" th:src="@{/js/console.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/console.css" th:href="@{/css/console.css}"></link>
<title>ZGT-kai</title>
</head>
<body>
<p>Zakimoto Git Tutorial Kai</p>
    <form method="post" action="/">
        <span>学生証番号</span>
        <input type="text" id="number" name="number" />
    </form>
<div id="console">
    <div id="consolebar">
    </div>
</div>
<table>
<tr th:each="obj:${datalist}">
	<td th:text="${obj.number}"></td>
	<td th:text="${obj.command}"></td>
	<td th:text="${obj.date}"></td>
</tr>
</table>
</body>
</html>