<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/jquery.console.js" th:src="@{/js/jquery.console.js}"></script>
    <script type="text/javascript" src="../static/js/console.js" th:src="@{/js/console.js}"></script>
    <script type="text/javascript" src="../static/js/dom.js" th:src="@{/js/dom.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/console.css" th:href="@{/css/console.css}"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/progress.css" th:href="@{/css/progress.css}"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/commentbar.css" th:href="@{/css/commentbar.css}"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/directory.css" th:href="@{/css/directory.css}"></link>

    <title>ZGT-kai</title>
</head>

<body>
    <ul class = "foo">
    <div align="left" class="site-name">
    <h1>Zakimoto Git Tutorial Kai</h1>
    <button class="btn btn-default btn-lg" onclick="delete_number();">学生証番号をリセット</button>
    <span>学生証番号:</span>
    <div id="numbers"></div>
    </div>
    <div align="right" class="btn-link" style="float:right;">
            <input type="button" id="tutorial-btn" class="btn btn-success btn-lg" onclick="open_tuto()" value="チュートリアルをはじめから" ></input>
    </div>
    <!--
            <div class="dropdown">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                    チュートリアル
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a href="#"  id="1" onclick="select_tuto();">チュートリアル１</a></li>
                    <li role="presentation"><a href="#"  id="2" onclick="select_tuto();">チュートリアル２</a></li>
                </ul>
            </div>
            
    </div>
-->
        <!--
        <input type="text" class="form-color" id="number" name="number" size="20"  ></input>
        <input type="text" name="dummy" size="20" style="display:none;"></input>
        <div class="err"></div>
        
    </form>
    -->
    </ul>
    <h4 align="center">チュートリアル中に，いくつかの専門用語が登場します。<br />サルでもわかるGit入門の<a href="https://www.backlog.jp/git-guide/intro/intro1_1.html" target="_blank">Gitの基本</a>の項目を読んでからチュートリアルを始めてください</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="console">
        <div id="consolebar">
        </div>
    </div>
    <div class="tu_select" align="center">
            <button class="btn btn-success btn-lg" id="1" onclick="select_tuto();" disabled="disabled">チュートリアル1</button>
            <button  class="btn btn-success btn-lg" id="2" onclick="select_tuto();" disabled="disabled">チュートリアル2</button>
    </div>
    <div class="tu_button" align="center">
            <button id="top-btn" class="btn btn-primary" onclick="top_tuto()" disabled="disabled"><span class="glyphicon glyphicon-chevron-left"></span>最初の説明を見る</button>
            <button id="back-btn" class="btn btn-primary" onclick="back_tuto()" disabled="disabled"><span class="glyphicon glyphicon-chevron-left"></span>前の説明を見る</button>
            <button id="front-btn" class="btn btn-primary" onclick="front_tuto()" disabled="disabled" ><span class="glyphicon glyphicon-chevron-right"></span>次の説明に見る</button>
            <button id="new-btn" class="btn btn-primary" onclick="new_tuto()" disabled="disabled" ><span class="glyphicon glyphicon-chevron-right"></span>最新の説明に戻る</button>
    </div>
    <!--
    <p class="header" style="text-align:center;">your directory</p>
    <div class="directory" style="display:table;">
        <div style="display:table-cell; width:50%;" class="file_list">
            <div class="folder">
            </div>
            <div class="file">
            </div>
        </div>
        <div style="display:table-cell; width:50%;" class="file_preview">
                <p class="filename">
                </p>
                <div class="preview">
                    <p>
                    </p>
                </div>
        </div>
    </div>
-->
    <div class="comment">
    </div>
    <div align="right" class="img-link">
        <p>
            <img src="../static/image/zakimoto.jpg" width="200" height="200" alt="zakimoto" class="img-pos" th:src="@{/image/zakimoto.jpg}"
                align="left"></img>
            Gitに関する参考リンク
            <br/>
            <a href="http://www.backlog.jp/git-guide/" target="_blank">サルでもわかるGit入門</a>
            <br/>
            <a href="https://www.atlassian.com/ja/git/tutorial" target="_blank">AtlassianのGitチュートリアル</a>
            <br/>
            <a href="https://git-scm.com/docs" target="_blank">Git公式のリファレンス</a>
            <br/>
            <a href="https://git-scm.com/book/ja/v2" target="_blank">ProGitの日本語書籍</a>
            <br/>
            <b>このチュートリアルはsafariでは利用できません。</b>
            <b>Chrome,Firefoxを利用してください</b>
            <br/>
            <a href="https://goo.gl/forms/D6jlxDSIClK5W24w2" target="_blank">アンケート</a>
        </p>
    </div>
    <table>
        <tr th:each="obj:${datalist}">
            <td th:text="${obj.number}"></td>
            <td th:text="${obj.command}"></td>
            <td th:text="${obj.date}"></td>
        </tr>
    </table>
</body>

</html>